.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-wrapper
{
  max-width: 500px;
  margin: 0 auto;
}

.title1{
  padding: 12px;
  text-align: center;
  color: #C82333;
}

.title2{
  text-align: center;
  padding-top: 15px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 25px;
}

#successpage{
text-align: center;  
padding-top: 150px; 
}

#redirectbtn{
  margin-top: 15px;
}
